<!-- <button type="button" (click)="spotifyLogin()" class="btn btn-primary">Login</button>-->
<!-- <div class="container grid-full">
    <div class="row">
        <div class="col">
            <button type="button" (click)="spotifyLogin()" class="btn btn-primary loginBtn">Login</button>
        </div>
    </div>
</div> --> 

<div class="container">
    <button type="button" (click)="spotifyLogin()" class="btn btn-primary hostBtn">Host</button>
    <button type="button" (click)="spotifyLogin()" class="btn btn-primary joinBtn">Join</button>
</div>